[access]
	inheritFrom = All-Projects
[submit]
	action = rebase if necessary
[access "refs/*"]
	owner = group user/Vinícius Albuquerque (viniciusalbuquerque)
	owner = group user/haldny
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Vinícius Albuquerque (viniciusalbuquerque)
	label-Code-Review = -2..+2 group user/haldny
	label-Verified = -1..+1 group user/Vinícius Albuquerque (viniciusalbuquerque)
	label-Verified = -1..+1 group user/haldny
	push = group user/Vinícius Albuquerque (viniciusalbuquerque)
	push = group user/haldny
	read = group user/Vinícius Albuquerque (viniciusalbuquerque)
	read = group user/haldny
	rebase = group user/Vinícius Albuquerque (viniciusalbuquerque)
	rebase = group user/haldny
	removeReviewer = group user/Vinícius Albuquerque (viniciusalbuquerque)
	removeReviewer = group user/haldny
	submit = group user/Vinícius Albuquerque (viniciusalbuquerque)
	submit = group user/haldny
[access "refs/heads/*"]
	create = group user/Vinícius Albuquerque (viniciusalbuquerque)
	push = +force group user/Vinícius Albuquerque (viniciusalbuquerque)
	pushMerge = group user/Vinícius Albuquerque (viniciusalbuquerque)
	read = group user/Vinícius Albuquerque (viniciusalbuquerque)
[access "refs/tags/*"]
	push = group user/Vinícius Albuquerque (viniciusalbuquerque)
	push = +force group user/Vinícius Albuquerque (viniciusalbuquerque)
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
